@font-face {
  font-family: barlow;
  src: url("../assets/fonts/Barlow/Barlow-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: barlow_semibold;
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: barlow_bold;
  src: url("../assets/fonts/Barlow/Barlow-Bold.ttf");
  font-display: swap;
}
* {
  font-family: "barlow";
}

body {
  background: linear-gradient(40deg, #c4c3c3, white);
}

.ratings {
  font-size: 12px;
  color: rgb(237, 208, 2);
}

.hero-section {
  background-image: url("../assets/images/presentation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 610px;
  position: relative;
  overflow: hidden;
  font-family: "barlow";
}
.hero-section .overlay {
  height: 100%;
  width: 100%;
}
.hero-section .overlay::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.hero-section .logo {
  margin: 0px;
}
.hero-section .logo img {
  width: 100px;
  height: 40px;
}
.hero-section .navbar {
  transition: 0.3s all;
}
.hero-section .navbar .navbar-collapse {
  padding-left: 15px;
}
.hero-section .hero-content {
  position: relative;
  top: 150px;
  color: white;
  text-align: center;
}
.hero-section .hero-content .hero-text {
  margin-bottom: 30px;
}
.hero-section .hero-content .hero-text h1 {
  margin-bottom: 20px;
}
.hero-section .hero-content .hero-text p {
  font-size: 14px;
}
.hero-section .hero-content .search-bar {
  background-color: white;
  padding: 15px 0px;
}

.events-section {
  padding-bottom: 100px;
  background-color: transparent;
}
.events-section>.container {
   margin-top:80px;
}
.events-section .events-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
.events-section .events-wrapper .event {
  font-family: "barlow";
  width: 400px;
  height: 390px;
  margin: 10px 0px;
  position: relative;
  overflow: hidden;
}
.events-section .events-wrapper .event .event-thumb {
  position: relative;
  overflow: hidden;
  min-height: 210px;
}
.events-section .events-wrapper .event .event-thumb img {
  width: 100%;
  height: 100%;
}
.events-section .events-wrapper .event .event-thumb .event-lavel {
  position: absolute;
  left: 0%;
  bottom: 0%;
  color: white;
  background-color: #0D78D5;
  padding: 10px 15px;
}
.events-section .events-wrapper .event .event-content {
  height: 100%;
}
.events-section .events-wrapper .event .event-content .event-info {
  margin-top: 10px;
}
.events-section .events-wrapper .event .event-content .event-info .event-location {
  text-align: right;
}
.events-section .events-wrapper .event .event-content .event-info .event-date, .events-section .events-wrapper .event .event-content .event-info .event-location {
  font-size: 12px;
}
.events-section .events-wrapper .event .event-content .event-info .event-date i, .events-section .events-wrapper .event .event-content .event-info .event-location i {
  color: #0D78D5;
}
.events-section .events-wrapper .event .event-content .event-info .event-date a, .events-section .events-wrapper .event .event-content .event-info .event-location a {
  text-decoration: none;
  color: black;
}
.events-section .events-wrapper .event .event-content .event-title {
  padding: 0px 10px;
  margin-top: 15px;
}
.events-section .events-wrapper .event .event-content .event-title a {
  text-decoration: none;
  color: black;
}
.events-section .events-wrapper .event .event-content .event-title:hover a {
  color: #0D78D5;
}
.events-section .events-wrapper .event .event-actions .interest, .events-section .events-wrapper .event .event-actions .share {
  text-align: center;
}
.events-section .events-wrapper .event .event-actions .interest a, .events-section .events-wrapper .event .event-actions .share a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.534);
  font-weight: bold;
}
.events-section .events-wrapper .event .event-actions .interest a:hover, .events-section .events-wrapper .event .event-actions .share a:hover {
  color: #0D78D5;
}

.about-section {
  background-color: rgba(255, 255, 255, 0.747);
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-section .about-heading {
  margin-bottom: 30px;
}
.about-section .about-heading h1 {
  text-align: center;
  font-family: "barlow_semibold";
}
.about-section .about-content {
  text-align: center;
}
.about-section .about-content p {
  font-size: 16px;
}

.organizers-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.organizers-section .organizers-heading {
  margin-bottom: 30px;
  padding-top: 50px;
}
.organizers-section .organizers-heading h1 {
  text-align: center;
  margin: 0px;
}
.organizers-section .organizers-slider {
  padding: 30px 0px;
}
.organizers-section .organizers-slider .jcarousel-wrapper {
  box-shadow: none !important;
  border: 0px !important;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel-pagination {
  bottom: -20px !important;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo figure {
  margin: 0px;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo figure img {
  border-radius: 50%;
  width: 150px;
  height: 150px !important;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo .eo-body {
  text-align: center;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo .eo-body h5 {
  margin-bottom: 0px;
}
.organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo .eo-body .ratings {
  font-size: 12px;
  color: rgb(237, 208, 2);
}

.sponsers-section {
  padding: 20px 0px;
  background-color: whitesmoke;
}
.sponsers-section .sponsers-heading h5 {
  text-align: center;
}
.sponsers-section .sponsers-list {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sponsers-section .sponsers-list li {
  margin: 15px;
}
.sponsers-section .sponsers-list li img {
  width: 95px;
  height: 60px;
}

.footer {
  padding-top: 150px;
  background-color: white;
}
.footer h6 {
  font-family: "barlow_semibold";
}
.footer .footer-main {
  padding-bottom: 100px;
}
.footer .footer-main .quicklinks {
  padding-bottom: 15px;
}
.footer .footer-main .quicklinks .quick-link-list {
  margin-left: 18px;
}
.footer .footer-main .quicklinks .quick-link-list li {
  position: relative;
}
.footer .footer-main .quicklinks .quick-link-list li::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: -15px;
  top: 12px;
  transition: 0.2s all;
}
.footer .footer-main .quicklinks .quick-link-list li a {
  color: black !important;
  text-decoration: none;
  position: relative;
  transition: 0.2s all;
}
.footer .footer-main .quicklinks .quick-link-list li:hover a {
  margin-left: 5px;
}
.footer .footer-main .quicklinks .quick-link-list li:hover::before {
  width: 15px;
}
.footer .footer-main .subscribe {
  padding-bottom: 15px;
}
.footer .footer-main .subscribe h6 {
  margin: 0px;
}
.footer .footer-main .subscribe .input-group {
  margin-top: 10px;
}
.footer .footer-main .subscribe .input-group input:focus {
  box-shadow: none !important;
}
.footer .footer-main .contact .contact-list li {
  margin-bottom: 15px;
}
.footer .footer-main .contact .contact-list li .col-2 {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer-main .contact .contact-list li .col-10 {
  padding-left: 0px;
}
.footer .footer-main .contact .contact-list li .col-10 p {
  margin-bottom: 0px;
}
.footer .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.521);
  padding-top: 10px;
}
.footer .footer-bottom > .col-12 {
  padding: 10px 0px !important;
}
.footer .footer-bottom img {
  width: 100px;
  height: 35px;
}
.footer .footer-bottom .footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-bottom .footer-social-icons li {
  margin: 0px 10px;
}

.ct-header-section {
  /*background-color: rgba(66, 66, 66, 0.521);*/
    background-image: url("../assets/images/presentation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  height: 300px;
  position: relative;
  /*overflow: hidden;*/
    font-family: "barlow", serif;
}
.ct-header-section .overlay {
  height: 100%;
  width: 100%;
}
.ct-header-section .overlay::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.ct-header-section .logo {
  margin: 0px;
}
.ct-header-section .logo img {
  width: 100px;
  height: 40px;
}
.ct-header-section .navbar {
  transition: 0.3s all;
}
.ct-header-section .navbar .navbar-collapse {
  padding-left: 15px;
}
.ct-header-section .ct-header-content {
  position: relative;
  top: 100px;
  bottom: 0px;
  color: white;
  text-align: center;
}
.ct-header-section .ct-header-content .search-bar {
  background-color: white;
  padding: 15px 0px;
}
.se-details-section {
  padding-top: 100px;
  background-color: white;
  padding-bottom: 100px;
}
.se-details-section .se-details .se-img img {
  width: 100%;
  height: 400px;
}
.se-details-section .se-info {
  padding: 15px 0px;
}
.se-details-section .se-info .se-datetime, .se-details-section .se-info .se-joined, .se-details-section .se-info .se-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.se-details-section .se-info .se-datetime a, .se-details-section .se-info .se-joined a, .se-details-section .se-info .se-location a {
  color: black;
  text-decoration: none;
}
.se-details-section .se-info .se-datetime a i, .se-details-section .se-info .se-joined a i, .se-details-section .se-info .se-location a i {
  color: #0D78D5;
}
.se-details-section .organizer-profile .flex-row {
  flex-wrap: wrap;
}
.se-details-section .organizer-profile .flex-col-1 {
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15px;
}
.se-details-section .organizer-profile .flex-col-1 figure {
  margin: 0px;
}
.se-details-section .organizer-profile .flex-col-1 figure img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.se-details-section .organizer-profile .flex-col-2 h6 {
  margin: 0px;
}
.se-details-section .organizer-profile .chat-col {
  padding-top: 15px;
}
.se-details-section .se-description {
  margin-top: 20px;
}

.chat-section {
  background-color: white;
  padding-bottom: 0px;
  padding-top: 50px;
}
.chat-section .chat-container .card-header span {
  font-size: 12px;
}
.chat-section .chat-container .card-header .active-icon {
  font-size: 8px;
}
.chat-section .chat-container .to-organizer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.chat-section .chat-container .to-organizer h6 {
  margin: 0px;
}
.chat-section .chat-container .to-organizer .to-status {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
}
.chat-section .chat-container .to-organizer .flex-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-section .chat-container .to-organizer .flex-col-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-section .chat-container .to-organizer .flex-col-2 {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-section .chat-container .card-body {
  max-height: 600px;
  overflow-y: scroll;
}
.chat-section .chat-container .card-body .chat-wrapper {
  display: grid;
  grid-gap: 0.6rem;
  width: 100%;
}
.chat-section .chat-container .card-body .message {
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
  margin: 15px 0px;
  width: 50%;
}
.chat-section .chat-container .card-body .message .msg-time {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
  margin: 0px;
  text-align: right;
}
.chat-section .chat-container .card-body .send {
  background-color: #d9fdd3;
  justify-self: right;
  align-content: right;
}
.chat-section .chat-container .card-body .received {
  background-color: rgb(224, 224, 226);
  justify-self: left;
}
.chat-section .chat-container .card-footer {
  padding: 5px 5px;
}
.chat-section .chat-container .card-footer .input-group input:focus {
  box-shadow: none;
}

.register-section {
  background-color: white;
}

.login-section {
  background-color: white;
  padding: 200px 0px 200px 0px;
}
.login-section .login-icon {
  width: 130px;
  height: 130px;
  opacity: 0.5;
}
.login-section form {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 500px) {
  .hero-section .hero-content {
    top: 180px;
  }
}
@media (min-width: 656px) {
  .hero-section .hero-content {
    top: 160px;
  }
}
@media (min-width: 768px) {
  .hero-section {
    height: 450px;
  }
  .hero-section .navbar > .container-fluid {
    padding: 0px 20px !important;
  }
  .hero-section .navbar-collapse {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .hero-section .navbar-collapse .nav-link {
    font-size: 18px;
  }
  .hero-section .hero-content {
    top: 35%;
  }
  .hero-section .hero-content .search-bar .search-btn-col {
    padding-left: 0px;
    padding-right: 0px;
  }
  .events-section .events-wrapper .event {
    margin: 10px 12px;
  }
  .about-section .about-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .organizers-section .organizers-heading {
    padding-top: 70px;
  }
  .organizers-section .organizers-slider {
    padding: 90px 0px;
  }
  .organizers-section .organizers-slider .jcarousel-wrapper .jcarousel .eo figure img {
    width: 130px;
    height: 130px !important;
  }
  .organizers-section .organizers-slider .jcarousel-wrapper .jcarousel-pagination {
    bottom: -40px !important;
  }
  .sponsers-section {
    padding: 20px 15px;
  }
  .sponsers-section .sponsers-list li {
    margin: 15px 25px;
  }
  .sponsers-section .sponsers-list li img {
    width: 100%;
    height: 80px;
  }
  .footer .footer-bottom .footer-social-icons {
    justify-content: end;
  }
  .footer .footer-bottom .f-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ct-header-section {
    height: 200px;
  }
  .ct-header-section.page-with-large-content{
      height:270px;
  }
  .ct-header-section.page-with-large-content .ct-header-content{
    top: 160px;
  }
  .ct-header-section .ct-header-content {
      top: 100px;
  }
  .ct-header-section .ct-header-content .search-bar .search-btn-col {
    padding-left: 0px;
    padding-right: 0px;
  }
  .se-details-section .se-info .se-joined {
    text-align: center;
  }
  .se-details-section .se-info .se-location {
    text-align: end;
  }
  .se-details-section .organizer-profile .chat-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: 0px;
  }
}
@media (min-width: 989px) {
  .hero-section .hero-content {
    top: 40%;
  }
}/*# sourceMappingURL=style.css.map */
